//mui start
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}
//mui end

$w: #f8f7f3;
$b: #1a24fb;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    color: $w;
    background-color: $b;
    padding: 0 20px;
    p {
        font-size: 12px;
        letter-spacing: 0.2em;
    }
}
