//mui start
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}
//mui end

$w: #f8f7f3;
$b: #1a24fb;
$ms: 'Montserrat', sans-serif;
$op: 'Overpass', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    color: $w;
    background-color: $b;
    padding: 0 20px;
    p {
        font-size: 12px;
        letter-spacing: 0.2em;
        font-family: $op;
    }
}
.books-container {
    max-width: 1280px;
    gap: 100px 20px;

    display: flex;
    justify-content: center;
    // margin: 80px auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    .card {
        padding: 30px;
        position: relative;
        width: 100%;
        max-width:330px;
        min-height: 400px;
        border: 1px solid $b;
        color: $b;


        .number {
            width: 40px;
            height: 40px;
            font-size: 24px;
            position: absolute;
            top:5px;
            right: -10px;
            font-family: $ms;
            font-weight: 700;

             }
        .title{
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 30px;
            font-family: $op;
            font-weight: 700;
        }
        .sub{
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.2em;
            min-height: 25px;
            font-family: $op;
        }
        .text{
            font-size: 16px;
            font-weight: 400;
            font-family: $op;

        }
        button {
            position: absolute;
            bottom: -30px;
            left: 0px;
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            border: none;
            width: 100%;
            height: 18px;
            font-size: 14px;
            color: $b;
            font-family: $op;
            span{
                font-size: 18px;
            }
        }
        button:hover{
            background-color: $b;
            color: $w;
        }
    }
}
